.cart-page {
    padding: 20px;
    background:hsl(234, 14%, 14%);
    width: 80%;
    margin: 50px 50px 0 50px;
    border-radius: 15px;

}


.cart-items .cart-head,
.cart-items td {
    background: none;
    padding: 10px;
    text-align: left;
    color: #ddd;
}