.admin-dashboard {
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr; /* Left side fixed, right side takes remaining space */
  grid-gap: 20px; /* Adjust the gap between columns */
}


.product-table {
  width: 100%;
  margin-top: 20px;
  background-color: burlywood;
  color:black;
}

.product-details {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f2f2f2;
}

.edit, .delete, .add{
  padding: 6px 12px;
  margin-right: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.delete {
  background-color: #f44336; /* Red */
}

.add{
  background-color: blue;
}
